{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

    {% block head_title %}
    <title>Abdul Wahab||Accounts</title>
    {% endblock %}

                {% block navbar_collapse %}
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="page-scroll active">
                                <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'login' %}">Login</a>
                        </li>

                        <li class="page-scroll active">
                                <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'register' %}">Register</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            {% endblock %}

            {% block content %}
<!-- for messages framework -->
{% if messages %}
<section>
<div class="row">
<div class="container">
<div class="col-md-4">
           <ul class="messages">
               {% for message in messages %}
               <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
               {% if "html_safe" in message.tags %}
               {{message|safe}}
               {% else %}   
               {{ message }}
                {% endif %}
            </li>
               {% endfor %}
           </ul>   
</div>
</div>
</div>    
</section>
{% endif %}
<!-- end django messages -->

<br/> <br/>

<section class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3 class="text-center text-info">You have Logged Out Successfully</h3>        
   <div class="text-center">
       <h4><a href="{% url 'login' %}">Login Again</a></h4>
   </div>
</div>
</section>
  
 <!-- Footer -->
 <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    
                    <div class="footer-col col-md-4 col-md-offset-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/abdulwahabawudu99" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>

                            <li>
                                <a href="https://www.twitter.com/wahab_awudu" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>

                            <li>
                                <a href="https://www.googleplus.com/+wahabawudu" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>

                            <li>
                                <a href="https://www.linkedin.com/wahabawudu" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; AbdulWahab.com <span id="full-year"></span>
                        <script>
                        var date = new Date();
                        document.getElementById("full-year").innerHTML=date.getFullYear();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}