{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name = "description" content = "Personal Profile Page, All about abdul wahab, My Projects, Contact me, Follow me on all social networks">
    <meta name = "keywords" content = "Profile,About Me, My Works, Projects, Contact,
                                       Lets Get Social">
    <meta name="author" content="Abdul Wahab">

    <title>Abdul Wahab||Contact</title>
<link rel="icon" href="{% static './img/profile.png' %}" type="image/x-icon">
    <!-- Bootstrap Core CSS -->
    <link href="{% static './vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static './css/main.min.css' %}" rel="stylesheet">
    <link href="{% static './css/main.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static './vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
            <div class="container">
    
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="#page-top" >Abdul Wahab</a>
    
                </div>
    
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="page-scroll active">
                                <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'blog:home' %}">Blog</a>
                        </li>
                        {% if request.user.is_staff or request.user.is_superuser %}
                        <li class="page-scroll active">
                                <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'blog:create' %}">Create Post</a>
                        </li>
                         {% endif %}
                        <li class="page-scroll">
                                <form method="GET" action="" role="form" class="form-inline">
<div class="form-group"><label for="search"></label>
        <input type="text" class="form-control" id="search" name="query_field" placeholder="Search...." value="{{ request.Get.query_field }}" style="width:150px;"/>
        </div><button type="submit" class="btn btn-default">Go</button>
                                        </form>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

<!-- for messages framework -->
{% if messages %}
<section>
<div class="row">
<div class="container">
<div class="col-md-4">
           <ul class="messages">
               {% for message in messages %}
               <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
               {% if "html_safe" in message.tags %}
               {{message|safe}}
               {% else %}   
               {{ message }}
                {% endif %}
            </li>
               {% endfor %}
           </ul>   
</div>
</div>
</div>    
</section>
{% endif %}
<!-- end django messages -->

<br/> <br/>

<section>
        <h2 class="text-center text-info">Contact Us!</h2>       
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
                <hr> 
        <form method="post" action="">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" Value="Send Email >>" class="btn btn-success">
        
        </form>
        <hr>
</div>
</div>
<br/> <br/>
</section>
      
  

 <!-- Footer -->
 <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    
                    <div class="footer-col col-md-4 col-md-offset-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/abdulwahabawudu99" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>

                            <li>
                                <a href="https://www.twitter.com/wahab_awudu" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>

                            <li>
                                <a href="https://www.googleplus.com/+wahabawudu" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>

                            <li>
                                <a href="https://www.linkedin.com/wahabawudu" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; AbdulWahab.com <span id="full-year"></span>
                        <script>
                        var date = new Date();
                        document.getElementById("full-year").innerHTML=date.getFullYear();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- jQuery -->
<script src="{% static './vendor/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static './vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="{% static './js/jqBootstrapValidation.js' %}"></script>
<script src="{% static './js/form.js' %}"></script>

<!-- Theme JavaScript -->
<script src="{% static './js/main.min.js' %}"></script>

</body>
</html>