{% extends 'blog/post_list.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block navbar_collapse %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
            <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
            <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'home' %}">Home</a>
        </li>
        <li class="page-scroll active">
                <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'blog:home' %}">Blog</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="page-scroll active">
            <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'logout' %}"><span class="fa fa-user"></span> Logout</a>
        </li>

        <li class="page-scroll active">
                <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'blog:create' %}">Create Post</a>
        </li>
        {% else %}
        <li class="page-scroll active">
                <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'login' %}">Login</a>
        </li>

        <li class="page-scroll active">
                <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'register' %}">SignUp</a>
        </li>
         {% endif %}
        <li class="page-scroll">
                <form method="GET" action="" role="form" class="form-inline">
<div class="form-group"><label for="search"></label>
<input type="text" class="form-control" id="search" name="query_field" placeholder="Search...." value="{{ request.Get.query_field }}" style="width:150px;"/>
</div><button type="submit" class="btn btn-default">Go</button>
                        </form>
        </li>
    </ul>
</div>
{% endblock %}
<!-- /.navbar-collapse -->


{% block content %}
<section class="row">
<div class="container">
<div class="col-md-4">
           <!-- for messages framework -->
           {% if messages %}
           <ul class="messages">
               {% for message in messages %}
               <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
               {% if "html_safe" in message.tags %}
               {{message|safe}}
               {% else %}   
               {{ message }}
                {% endif %}
            </li>
               {% endfor %}
           </ul>
           {% endif %}
</div>
</div>  
</section>

<div class="row">
    <div class="col-xs-12 text-center">
       <div class="thumbnail">
            {% if instance.image %}
            <img src="{{instance.image.url}}" style="max-width:60%; max-height:30%;" class="img-responsive" />
            {% endif %}
<div class="caption">
        <h1 style="color:orange">{{instance.title}} </h1>
        <p style="color:lightseagreen">{{instance.text | safe}}</p>
        <br/>
        <i>Published at: 
            <span style="color:palevioletred">{{instance.published|date}}</span></i>
        <br/> <br/>

        {% if instance.user.get_full_name %}
        <i>Author: {{instance.user.get_full_name}}</i>
        {% else %}
        <i>Author: {{instance.author}}</i>
        {% endif %}

        <br/>  <br/>
        <hr>
</div>
       </div>
    </div>
    </div>
<br/>
<br/>
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            {% if comments.count > 0 %}
            <h4> {{comments.count}} Comments</h4><br/>
            {% else %}
            <h5>Comments</h5><br/>
            {% endif %}
         <!-- comments for loop -->
                    {% for comment in comments %}
            <blockquote style="border-left:5px solid rgb(7, 88, 109)">

                <!-- comment owner div -->
                <div class="pull-left">
                    <img src="{% static 'image/user.png' %}" class="img-thumbnail img-circle" width="60" height="40"/>
                        {{comment.user}}:
                </div>
                <br/>

             <!-- comment text div -->
                <div class="text-center">
                    {{comment.comment_text}}
                </div>

             <!-- comment footer div -->
                <footer>
        <small class="text-center"><a href="#" class="reply-block-btn">Reply 
                <span class="badge">{% if comment.replies.count > 0 %} {{comment.replies.count}} {% endif %}</span> 
            </a></small>
            
            <small class="pull-right">{{comment.commented_at|timesince}}</small>
                </footer>

                             <!-- comment replies block -->
                <div class="row reply-block">
                        <blockquote>
                                     <!-- replies for loop -->
                             {% for reply in comment.replies %}
                             <div class="col-md-8 col-md-offset-4">
                                <div style="border-left:5px solid rgb(62, 202, 172)">
                                    <div class="pull-left" >
                                        <img src="{% static 'image/user.png' %}" class="img-thumbnail img-circle" width="60" height="40"/>
                                        {% if request.user %}
                                        {{request.user}}:
                                        {% endif %}
                                    </div>
                                        <br/>
                                        <div class="text-center">
                                        {{ reply.comment_text }}
                                        </div>
                                    <hr>
                                    </div>                            
                             </div>
                             <br/>
                             {% endfor %}
                        <!--end replies for loop -->

                        <!-- replies form -->
                             <div class="col-md-6 col-md-offset-3">
                                 <h4>Reply</h4>
                                <form method="post" action=".">
                                    {% csrf_token %}
                                    {{form|crispy}}
                              <input type="hidden" name="parent_id" value="{{comment.id}}"/>
                              <input type="submit" value="Reply" class="btn btn-success"/>
                                </form>
                             </div>
                         </blockquote>
                 <hr>
                </div>
            <!-- end replies block -->

            </blockquote>   <!-- end comments blockquote -->
            {% endfor %}
            <br/>

            <h4>Comment</h4>
            <form method="post" action=".">
                {% csrf_token %}
                {{form|crispy}}
          <input type="submit" value="Comment" class='btn btn-success'/>
            </form>

            <br/>
        </div>
    </div>

<br/>
    <hr>


{% if request.user.is_authenticated %}
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="col-xs-3">
                <a href="{% url 'blog:create' %}" class="btn btn-primary"><span class="fa fa-plus"></span> New Post</a>
            </div>
            <div class="col-xs-3">
                <a href="update/" class="btn btn-success">Edit Post</a>
            </div>
            <div class="col-xs-3">
                <a href="delete/" class="btn btn-danger">Delete Post</a>
            </div>
            <div class="col-xs-3">
                <a href="{% url 'blog:home' %}" class="btn btn-info">Go Home</a>
            </div>
        </div>
    </div>
{% endif %}
    <br/> <br/>

 <!-- Footer -->
 <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    
                    <div class="footer-col col-md-4 col-md-offset-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/abdulwahabawudu99" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>

                            <li>
                                <a href="https://www.twitter.com/wahab_awudu" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>

                            <li>
                                <a href="https://www.googleplus.com/+wahabawudu" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>

                            <li>
                                <a href="https://www.linkedin.com/wahabawudu" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; abdulwahab <span id="full-year"></span>
                        <script>
                        var date = new Date();
                        document.getElementById("full-year").innerHTML=date.getFullYear();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}