{% extends 'blog/post_list.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block navbar_collapse %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
            <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
            <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'home' %}">Home</a>
        </li>
        <li class="page-scroll active">
                <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'blog:home' %}">Blog</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="page-scroll active">
            <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'logout' %}"><span class="fa fa-user"></span> Logout</a>
        </li>

        <li class="page-scroll active">
                <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'blog:create' %}">Create Post</a>
        </li>
        {% else %}
        <li class="page-scroll active">
                <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'login' %}">Login</a>
        </li>

        <li class="page-scroll active">
                <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'register' %}">SignUp</a>
        </li>
         {% endif %}
        <li class="page-scroll">
                <form method="GET" action="" role="form" class="form-inline">
<div class="form-group"><label for="search"></label>
<input type="text" class="form-control" id="search" name="query_field" placeholder="Search...." value="{{ request.Get.query_field }}" style="width:150px;"/>
</div><button type="submit" class="btn btn-default">Go</button>
                        </form>
        </li>
    </ul>
</div>
{% endblock %}
<!-- /.navbar-collapse -->


{% block content %}
<section>
    <h1 class="text-center text-info">{{page_title}}</h1>
    <div class="row">
        <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Publish Post >>" class='btn btn-success btn-block'/>            
            </form>
        </div>
        </div>
    </div>
</section>
<br/>   
{% endblock %}