{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

    {% block head_title %}
    <title>Abdul Wahab||Blog</title>
    {% endblock %} 
    
    {% block navbar_collapse %}
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="page-scroll active">
                                <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'blog:home' %}">Blog</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="page-scroll active">
                            <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'logout' %}"><span class="fa fa-user"></span> Logout</a>
                        </li>

                        <li class="page-scroll active">
                                <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'blog:create' %}">Create Post</a>
                        </li>
                        {% else %}
                        <li class="page-scroll active">
                                <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'login' %}">Login</a>
                        </li>

                        <li class="page-scroll active">
                                <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'register' %}">SignUp</a>
                        </li>
                         {% endif %}
                        <li class="page-scroll">
                                <form method="GET" action="" role="form" class="form-inline">
<div class="form-group"><label for="search"></label>
        <input type="text" class="form-control" id="search" name="query_field" placeholder="Search...." value="{{ request.Get.query_field }}" style="width:150px;"/>
        </div><button type="submit" class="btn btn-default">Go</button>
                                        </form>
                        </li>
                    </ul>
                </div>
                {% endblock %}
                <!-- /.navbar-collapse -->

{% block content %}
<!-- for messages framework -->

{% if messages %}
<section>
<div class="row">
<div class="container">
<div class="col-md-4">
           <ul class="messages">
               {% for message in messages %}
               <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
               {% if "html_safe" in message.tags %}
               {{message|safe}}
               {% else %}   
               {{ message }}
                {% endif %}
            </li>
               {% endfor %}
           </ul>   
</div>
</div>
</div>    
</section>
{% endif %}
<!-- end django messages -->

<br/> <br/>

<section>
        <h2 class="text-center text-info">Welcome to Our Blog</h2>        
    {% for articles in object_list %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="thumbnail">
                {% if articles.image %}
                <a href="{{ articles.get_absolute_url }}" title="">
                    <img src=" {{articles.image.url}} " class="img-responsive"/>
                </a>
               {% endif %}
             <div class="caption">
    <h1 style="color:rgba(255, 0, 255, 0.84)">
         <a href="{{ articles.get_absolute_url }}">{{articles.title|upper}}</a> <small>{{articles.created | timesince }} ago</small>
    </h1>

    <p style="color:lightseagreen">{{ articles.text |safe | truncatechars:120 }}</p>
    <a href="{{ articles.get_absolute_url }}" class="btn btn-primary">Read More</a>
    <br/>
    <i>Published at: <span style="color:palevioletred">{{articles.published}}</span></i>
    <br/>
    {% if articles.user.get_full_name %}
    <i>Author: {{articles.user.get_full_name}}</i>
    {% else %}
    <i>Author: {{articles.author}}</i>
    {% endif %}
</div>
</div>
</div>
</div>
<br/> <br/>
    {% endfor %}
</section>

<section>
<div class="row">
    <div class="text-center">
        <!-- FOR PAGINATION -->
<div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <li>
         <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            </li>
            {% endif %}
    
            <!-- <li class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </li> -->
    
            {% for i in range %}
            <li class="waves-effect {% if page_obj.number is forloop.counter %} active {% endif %}">
                <a href="?page={{forloop.counter}}">{{forloop.counter}}</a>
            </li>
            {% endfor %}
    
            {% if page_obj.has_next %}
            <li>
        <a href="?page={{ page_obj.next_page_number }}">next</a>
            </li>
            {% endif %}
        </span>
    </div>
      <!-- END PAGINATION -->
    </div>    
    </div>    
    </section>       
  

 <!-- Footer -->
 <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    
                    <div class="footer-col col-md-4 col-md-offset-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/abdulwahabawudu99" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>

                            <li>
                                <a href="https://www.twitter.com/wahab_awudu" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>

                            <li>
                                <a href="https://www.googleplus.com/+wahabawudu" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>

                            <li>
                                <a href="https://www.linkedin.com/wahabawudu" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; AbdulWahab.com <span id="full-year"></span>
                        <script>
                        var date = new Date();
                        document.getElementById("full-year").innerHTML=date.getFullYear();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}