{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    {% include 'head_css.html' %}
    {% block head_title %}<title>Abdul Wahab||Home</title>{% endblock %}

    {% block style %}{% endblock %}
    

  <body id="page-top" class="index">
      {% block navbar %}
      <!-- Navigation -->
      <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
          <div class="container">
      
              <div class="navbar-header page-scroll">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                  </button>
                  <a class="navbar-brand" href="{% url 'home' %}" >Abdul Wahab</a>
      
              </div>
      
              {% block navbar_collapse %}
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li class="hidden">
                          <a href="#page-top"></a>
                      </li>
{#                      <li class="page-scroll">#}
{#                          <a data-toggle="collapse" data-target=".navbar-collapse.in" href="#portfolio">Portfolio</a>#}
{#                      </li>#}
                      <li class="page-scroll">
                          <a data-toggle="collapse" data-target=".navbar-collapse.in" href="#about">About</a>
                      </li>
{#                      <li class="page-scroll">#}
{#                          <a data-toggle="collapse" data-target=".navbar-collapse.in" href="#">Contact</a>#}
{#                      </li>#}
                      <li class="page-scroll">
                              <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'blog:home' %}">Blog</a>
                      </li>
      
                      {% if request.user.is_authenticated %}
                      <li class="page-scroll">
                              <a data-toggle="collapse" data-target=".navbar-collapse.in" href="#">
                                  <span class="fa fa-user"></span> {{request.user}}</a>
                      </li>

                      <li class="page-scroll">
                              <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'logout' %}">Logout</a>
                      </li>
                      {% else %}
                      <li class="page-scroll">
                          <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'login' %}">Login</a>
                      </li>
      
                      <li class="page-scroll">
                      <a data-toggle="collapse" data-target=".navbar-collapse.in" href="{% url 'register' %}">SignUp</a>
                      </li>
                      {% endif %}
      
                      {% if not request.user.is_authenticated and not "accounts/login" in request.get_full_path %}
                      <!-- you can put a form here -->
                      {% endif %}
                  </ul>
              </div>
              {% endblock %}
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </nav>
      {% endblock %}

  {% block content %} {% endblock %}

    {% include "javascript.html" %}
  </body>
</html>