{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name = "description" content = "Personal Profile Page, All about abdul wahab, My Projects, Contact me, Follow me on all social networks">
    <meta name = "keywords" content = "Profile,About Me, My Works, Projects, Contact,
                                       Lets Get Social">
    <meta name="author" content="Abdul Wahab">

    {% block head_title %} {% endblock %}
<link rel="icon" href="{% static './img/profile.png' %}" type="image/x-icon">
    <!-- Bootstrap Core CSS -->
    <link href="{% static './vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static './css/main.min.css' %}" rel="stylesheet">
    <link href="{% static './css/main.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static './vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>