{% load static %}
<script>
        function writeCookie() {
            if(document.sentMessage.name.value==""){
            document.getElementById("warning").innerHTML = "dont include empty spaces for the name";
        }
            else {
            var cookieVal = escape(document.sentMessage.name.value);
                document.cookie = "name: "+cookieVal;
                alert(cookieVal);
        }
        }
        </script>
        <!-- jQuery -->
        <script src="{% static './vendor/jquery/jquery.min.js' %}"></script>
    
        <!-- Bootstrap Core JavaScript -->
        <script src="{% static './vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    
        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    
        <!-- Contact Form JavaScript -->
        <script src="{% static './js/jqBootstrapValidation.js' %}"></script>
        <script src="{% static './js/form.js' %}"></script>
    
        <!-- Theme JavaScript -->
        <script src="{% static './js/main.min.js' %}"></script>